<section id="ceremony" class="text-center">
  <div class="well">
    <h1><%= t('sections.ceremony.name') %></h1>
    <%= image_tag("ceremony.jpg", width: "100%") %>
    <p><%= t('sections.ceremony.body') %></p>
    <p><time datetime="2016-03-05 18:00"><%= t('sections.ceremony.datetime') %></time></p>
    <p><a href="https://www.google.com.ar/maps/place/Punta+Lara+575,+Rosario,+Santa+Fe/@-32.8861015,-60.6929356,17z/data=!3m1!4b1!4m2!3m1!1s0x95b65399eeaaa42d:0x67be5900a91a6e30?hl=en" target="_blank"><%= t('sections.ceremony.location.address') %></a></p>
    <p><%= t('sections.ceremony.attire') %></p>
  </div>
</section>