<section id="home" class="text-center">
    <h1><%= t('sections.home.heading') %></h1>
    <div id="homeCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-pause="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("home-0.jpg") %>
        </div>

        <div class="item">
          <%= image_tag("home-1.jpg") %>
        </div>

        <div class="item">
          <%= image_tag("home-2.jpg") %>
        </div>

        <div class="item">
          <%= image_tag("home-3.jpg") %>
        </div>

        <div class="item">
          <%= image_tag("home-4.jpg") %>
        </div>

        <div class="item">
          <%= image_tag("home-5.jpg") %>
        </div>
      </div>
    </div>
    <h3><time datetime="2016-03-05"><%= t('sections.home.date') %></time> <i class="fa fa-heart"></i> <%= t('sections.home.location') %></h3>
</section>