<section id="reception" class="text-center">
  <div class="well">
    <h1><%= t('sections.reception.name') %></h1>
    <%= image_tag("reception.jpg", width: "100%") %>
    <p><%= t('sections.reception.body') %></p>
    <p><time datetime="2016-03-05 19:00"><%= t('sections.reception.datetime') %></time></p>
    <p><a href="https://www.google.com.ar/maps/place/Av+Eduardo+Carrasco+3914,+Rosario,+Santa+Fe/@-32.8770532,-60.6879846,17z/data=!3m1!4b1!4m2!3m1!1s0x95b653925d6cfc39:0x7b69850a9295a672?hl=en" target="_blank"><%= t('sections.reception.location.address') %></a></p>
    <p><%= t('sections.reception.attire') %></p>
  </div>
</section>